.git
.idea
.vscode
.DS_Store
**/node_modules/
**/dist/
**/dist-ssr/
**/coverage/
**/.nyc_output/
**/.vite/
**/.vite-temp/
**/.vitest/
**/*.tsbuildinfo
**/logs/
**/*.log
**/npm-debug.log*
**/*.tmp
**/*.temp
**/*~
**/.env
**/.env.*
