.git
.idea
.vscode
.DS_Store
bin/
main
sezzle-calculator
**/*.exe
**/*.test
**/*.prof
**/*.pprof
**/coverage/
**/coverage.out
**/coverage.txt
**/coverage.html
**/coverage.xml
**/logs/
**/*.log
**/*.tmp
**/*.temp
**/*~
**/.env
**/.env.*
